@{
    ViewData["Title"] = "Home Page";
}

<img style="width: 100%; margin: auto" src="~/images/graduates.jpg" alt="graduates" />

<div class="jumbotron banner">
    <h1 class="banner-text">University of the Philippines</h1>
    <p>Now accepting enrollees for SY 2021-2022</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the University of the Philippines</h2>
        <p>
            The pride university of the Philippines. UP has represented the Philippines
            in all world-renowned stages of academia.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Enrollments</h2>
        <p>The new school year for 2021-2022 has just opened and is now accepting enrollees. Please refer to the enrollment guide for more information.</p>
        <p><a class="btn btn-primary" href="#">Enroll Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Student Portal</h2>
        <p>Want to review your classes this semester? Head on over to the Student Portal.</p>
        <p><a class="btn btn-primary" href="#">Student Portal Login &raquo;</a></p>
    </div>
</div>